<template>
    <div class="col-sm-12 p-3 bg-secondary d-flex mb-4 justify-content-center">
        <button @click="nonLogged" type="button" class="m-2 btn btn-light btn-md">Route non authentifié</button>
        <button @click="logged" type="button" class="m-2 btn btn-light btn-md">Route authentifié</button>
        <button @click="getToken" type="button" class="m-2 btn btn-light btn-md">{{textAuthentification}}</button>
    </div>
    <div v-if="error" class="alert alert-danger text-center mt-2" id="typeError" role="alert">{{errorMessage}}</div>
    <div v-if="success" class="alert alert-success text-center mt-2" id="typeSuccess" role="alert">{{successMessage}}</div>
</template>

<script>
export default{
    data(){
        return{
            error: false,
            success: false,
            successMessage: "",
            errorMessage: "",
            textAuthentification: "Authentification"
        }
    },
    methods:{
        nonLogged(){
            this.axios.get("nonLogged").then((res) => {
                this.success = true; 
                this.error = false;
                this.successMessage = res.data
            } )
            .catch((error) => {
                console.log(this)
                console.error(error.message);
                this.success = false;
                this.error = true;
                this.errorMessage = "Echec de la requête"
            })
        },
        logged(){
            this.axios.get("logged").then((res) => {
                this.success = true; 
                this.error = false;
                this.successMessage = res.data
            } )
            .catch((error) => {
                console.error(error.message);
                this.success = false;
                this.error = true;
                this.errorMessage = "Vous n'êtes pas authentifié"
            })
        },
        getToken(){
            if(this.textAuthentification == "Authentification"){
                this.axios.get("getToken").then((res) => {
                    console.log(res.data);
                    this.$cookies.set('token', res.data, "24h")
                    this.axios.defaults.headers.common['Authorization'] = 'Bearer ' + this?.$cookies?.get('token') ?? '' 
                    this.success = true;
                    this.successMessage = "Token : " + res.data
                    this.error = false
                    this.textAuthentification = "Se déconnecter"
                })
            }
            else{
                this.$cookies.set('token', null)
                this.axios.defaults.headers.common['Authorization'] = ''
                this.success = true;
                this.error = false
                this.successMessage = "Token supprimé"
                this.textAuthentification = "Authentification"
            }
            
            
        }
    }
}
</script>